<!DOCTYPE html>
<html>
  <head>
    <title>Sanctus</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <%= render 'layouts/header' %>
  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
